.card-small {
  padding: 20px;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 120px;
  position: relative;
  background-image: cover;
  border: 1px solid white;
}

.card-content {
  position: absolute;
  left: 5px;
  bottom: 5px;
  text-align: left;
  color: white;
}

.span {
  position: absolute;
  left: 5px;
  top: 5px;
  text-align: left;
  color: white;
}
