    <div class="layer text-center">
      <h2>Get news from us</h2>
      <div class="container">
        <div class="row">
          <div class="col-sm-offset-4 col-md-4">
            <form action="/">
              <label for="email">Leave us your mail and get stylus news</label>
              <div class="form-inline">
                <input id="email" type="email" class="form-control" placeholder="votre@email.com">
                <input type="submit" value="Apply" class="btn btn-primary">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
