<div class="layer text-center">
  <h1>Contact us !</h1>
</div>


<div class="layer text-center">
  <h2>Our team</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <h3>Machin</h3>
          <p>Machin est super</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <h3>Machin</h3>
          <p>Machin est super</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <h3>Machin</h3>
          <p>Machin est super</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="layer text-center">
  <h2>Contact infos</h2>
  <p>Phone : 00 00 00 00 00</p>
  <p>contact@machin.com</p>
</div>


